Gmail AI reply.json
{
  "name": "Gmail AI reply",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "847f9c79-db99-44b3-9498-f9b2295eaab8",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "2SgluaDOmAUVYKxP",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "4b2c5522-1283-4808-a18d-e13a8845c2c9",
      "name": "Get a message",
      "webhookId": "dc1d8f9f-aedb-4e8b-801d-6c98d8b6bdce",
      "credentials": {
        "gmailOAuth2": {
          "id": "4NWn2mLmPYtRpiht",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a email responding agent.\n\n\n\nBelow are the content of latest email I got.\n\nSubject:{{ $json.Subject }}\n\nBody: {{ $json.snippet }}\n\nYou have to do 2 things.\n\n1.specify the labels based on the email.\nLabels can be one of below\n\nabc,\nhimu,\nxyz\n\n2.As a smart assistant please draft the response for me so that I can replay to my email.\n\nMake sure that replay is very respectable and whatever required please explain student doubts in depth with example and also make sure that replay follow a strict HTML format so it is easy to read.\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "7f5f0ee3-9736-42f6-ae48-96544f913157",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        288,
        208
      ],
      "id": "95678c1a-f9a8-480a-b813-63a1c454b405",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "uXMP1KRiplZyJZ5u",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        592,
        256
      ],
      "id": "4e47673d-8ec4-4524-8aac-5f0458fd9785",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "19b257d24a9d31e6",
          "threadId": "19b257d24a9d31e6",
          "snippet": "Hi buddy how&#39;s going?",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 5722,
          "historyId": "1149712",
          "internalDate": "1765860504000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "CATEGORY_PERSONAL",
              "name": "CATEGORY_PERSONAL"
            }
          ],
          "From": "Himujjal Borah <himujjal123@gmail.com>",
          "Subject": "Jshshsh",
          "To": "Himujjal Borah <himujjal3333@gmail.com>"
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "343bc1c6-e568-4d81-87cd-5b409c504e1e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7a25a0f471046aa79c17fba7d484d4c64893efc5c87f7037428c18f4bb8f727d"
  },
  "id": "wHAkCQk9m1XyZ9iD",
  "tags": []
}